@model TheVoice.Models.ViewModels.AdminHomeIndexVM
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2>Review</h2>
</div>

<div>
    <h3 class='text-center'>Teams</h3>

    @foreach(var team in Model.Teams)
    {
        <div>
            <div><h5 class='team-name-as-header'>@team.Name</h5></div>
             @foreach(var candid in team.Candidates){
                 <div> 
                     <a class='Candicate-expander-btn' data-bs-toggle='collapse' href='#t-@candid.Id' 
                     role='button' aria-expanded='false' aria-controls='t-@candid.Id'
                     >@candid.Name</a>
                     <div id='t-@candid.Id' class='collapse'>
                         <table class='table table-striped'>
                             <thead>
                                 <tr>
                                     <th>Song</th>
                                     <th>Date</th>
                                     <th>Score</th>
                                 </tr>
                             </thead>
                             <tbody>
                                @foreach(var activity in candid.Activities)
                                {
                                    <tr>
                                        <td>@activity.SongName</td>
                                        <td>@activity.Date</td>
                                        <td>@activity.Scores</td>
                                    </tr>
                                }
                             </tbody>
                         </table>
                         <div>Avg: @team.AverageScore</div>
                     </div>
                 </div>
             }
        </div>
    }
</div>
